.selectArea {
    background-color: var(--tgui--bg_color);
    color: var(--tgui--text_color);
    border: var(--tgui--hint_color);
    width: 100%;
    font-size: 16px;
}

/* Style the dropdown options */
.selectArea option {
    background-color: var(--tgui--bg_color);
    color: var(--tgui--text_color);
    border: var(--tgui--hint_color);
}

/* Ensure the dropdown inherits the theme */
.selectArea:focus,
.selectArea:active {
    outline: none;
    border-color: var(--tgui--button_color);
}