.container {
    padding: 20px;
    background-color: var(--tgui--secondary_bg_color);
    color: var(--tgui--text_color);
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
    color: var(--tgui--text_color);
}
.delete {
    color: red;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orderDetailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.editButton {
    background: transparent; /* Убираем фон */
    border: none; /* Убираем обводку */
    font-size: 1.5rem; /* Размер иконки */
    cursor: pointer; /* Курсор как указатель */
    color: inherit; /* Наследуем цвет от родителя (т.е. от названия заказа) */
    padding: 0; /* Убираем внутренние отступы */
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.calls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.orderDetails {
    background-color: var(--tgui--card_bg_color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.finalResponse {
    background-color: var(--tgui--button_color);;
    color: var(--tgui--text_color);
}

.reviewModal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.starRating {
    display: flex;
    gap: 5px;
    font-size: 24px;
    cursor: pointer;
}

.star {
    color: #ccc;
}

.starActive {
    color: #ffd700;
}

.reviewTextarea {
    min-height: 100px;
}

.submitButton {
    margin-top: 10px;
}

.deleteIcon {
    cursor: pointer;
    font-size: 20px;
    color: #ff4d4f; /* Red color for delete icon */
    padding: 8px;
}

.deleteIcon:hover {
    color: #d9363e; /* Darker red on hover */
}

.orderDetailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centeredHeadline {
    text-align: center;
    flex-grow: 1;
}

.orderDetailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconPlaceholder {
    width: 36px; /* Фиксированная ширина для иконок и заполнителей */
    height: 36px; /* Фиксированная высота */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ff4d4f; /* Красный цвет для иконки удаления */
}

.iconPlaceholder:hover {
    color: #d9363e; /* Тёмно-красный при наведении */
}