.container {
    padding: 20px;
    background-color: var(--tgui--secondary_bg_color);
    color: var(--tgui--text_color);
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.responseDetails {
    background-color: var(--tgui--card_bg_color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.responseDetailsHeader {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.responseMessage {
    background-color: var(--tgui--bg_color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 15px;
}

.responseMessage p {
    font-size: 16px;
    color: var(--tgui--text_color);
    margin-top: 8px;
}

.reviewModal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.starRating {
    display: flex;
    gap: 5px;
    font-size: 24px;
    cursor: pointer;
}

.star {
    color: #ccc;
}

.starActive {
    color: #ffd700;
}

.reviewTextarea {
    min-height: 100px;
}

.submitButton {
    margin-top: 10px;
}