.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.orderList {
    margin-top: 20px;
}

.Title {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 10px;
    left: 20px;
}

.noOrders {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: var(--tgui--bg_color);
}

.spinner {
    /*border: 1px dashed #9747FF;*/
    /*borderRadius: 5px;*/
    /*padding: 20px;*/
    /*width: 400px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectArea {
    width: 100%;
    background-color: var(--tgui--secondary_bg_color);
    border: 1px solid var(--tgui--hint_color);
    border-radius: 4px;
    color: var(--tgui--text_color);
    font-size: 16px;
}

.tagSelector {
    width: 100%;
    margin-bottom: 16px;
}
